.Rproj.user/BAB4038F/pcs/source-pane.pper
.Rproj.user/*/*/*.pper 
.Rproj.user
.Rproj.user/*.*
.Rproj.user/*/*.*
.Rhistory
.RData
.Ruserdata
.*.sw*
.Rproj.user/BAB4038F/pcs/source-pane.pper
*.pper
.Rproj.user/BAB4038F/pcs/windowlayoutstate.pper
/.Rproj.user
ramp.models.Rproj
docs
